<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Product</title>
</head>
<body>
    My Product
    <h4 th:text="${product.getName()}"></h4>
    <form th:action="@{/accept}" method="post">
        <label>
            <input name="name" th:value = "${product.getName()}">
        </label>
        <input name="id" type="hidden" th:value = "${product.getID()}">
        <input id="submit" onclick="myFunction()" type='submit' value="Sửa">
    </form>
</body>
</html>
