<html>
<head>
    <title>Select your option</title>
</head>
<body>

<form action="validateEmail">
    <input type="submit" value="Validate Email">
</form>
<form action="worldclock">
    <input type="submit" value="What time is it?">
</form>
<form action="findAllProduct">
    <input type="submit" value="Your Products">
</form>
<form action="saveEmail">
    <input type="submit" value="Save Email">
</form>

<form action="counterPage">
    <input type="submit" value = "Count Page">
</form>

<form action="login">
    <input type="submit" value = "Login">
</form>
</body>
</html>
