<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Email</title>
</head>
<style>
    td{
        width: 200px;
        padding-top:10px;
        padding-bottom:10px;
    }
    input{
        width: 200px;
        padding-top:10px;
        padding-bottom:10px;
    }
</style>
<body>
        <table border="1">
            <tr>
                <td>Languages:</td>
                <td th:text="${email.getLanguage()}">
                </td>
            </tr>
            <tr>
                <td>Page Size</td>
                <td th:text="${email.getSize()}">
                </td>
            </tr>
            <tr>
                <td>Spams filter</td>
                <td th:text="${email.isSpamFilter()}">
                </td>
            </tr>
            <tr>
                <td>Signature</td>
                <td th:text="${email.getSignature()}">
                </td>
            </tr>
        </table>
        <a th:href="@{/}">Back to home</a>
</body>
</html>
