<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Product</title>
</head>
<body>
My Product
<div th:each="product: ${listProduct}">
    <h4 th:text="${product.getName()}"></h4>
    <form action="changeProduct" method="post">
        <input type="submit" value = "Sửa">
        <input type="hidden" name="id" th:value = "${product.getID()}">
    </form>
    <form action="deleteProduct" method="post">
        <input type="submit" value = "Xoá">
        <input type="hidden" name="id" th:value = "${product.getID()}">
    </form>
</div>
<form action="createProduct">
    <input type="submit" value="Add">
</form>
</body>
</html>
